body {
  font-family: 'Amita', cursive;
  margin: 0;
}
.coral-color {
  color: coral;
}
.flexible-container {
  display: flex;
  margin-bottom: 150px;
}
.width-half {
  width: 40%;
  padding: 0 5%;
}
.width-half img {
  width: 60%;
  padding-top: 3%;
  padding-left: 20%;
}
.paragraph-div {
  padding-top: 5%;
  padding-left: 5%;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  color: white;
  padding: 10px 40px;
  font-weight: 700;
  border-radius: 5%;
}
.bg-img {
  background-image: url(7.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.recipie-item {
  box-shadow: 10px 10px 40px gray;
  width: 30%;
  height: 450px;
  margin-left: 3%;
  margin-right: 3%;
  padding: 2%;
  border-radius: 15px;
}
.recipie-item img {
  width: 100%;
  height: 65%;
  border-radius: 10px;
}
.text-align {
  text-align: center;
  margin: 0 8%;
  margin-bottom: 3%;
}
.footer {
  text-align: center;
  color: aliceblue;
  background-color: black;
}